{% extends "main_template.html" %}
{% block content %}
<div>
<h3>The Team</h3>
	<div class="container row" >
		<div class="span2">
		<img src="http://localhost:8000/site_media/images/lattesfoto.gif"  style="border-style:solid;" alt="" />	
		</div>
		<div class="span10" style="text-align: left; vertical-align: middle;">
		<div><strong>Nome:</strong> Joao Carlos Pereira da Silva</div>
		<div><strong>Email:</strong> jcps@dcc.ufrj.br</div>
		<div><a href="http://lattes.cnpq.br/9413102524215939">Lattes</a></div>
		<div><strong>URL da Homepage:</strong> <a href="http://www.dcc.ufrj.br/~jcps">http://www.dcc.ufrj.br/~jcps</a></div>
		</div>	
	</div>
</div>
&nbsp;&nbsp;&nbsp;
<div>
	<div class="container row">
	<div style="text-align: left; vertical-align: middle;">
		<div class="span2">
		<img src="http://localhost:8000/site_media/images/carla_lattes.gif"  style="border-style:solid;" alt="" />	
		</div>
		<div class="span10" >
		<div><strong>Nome:</strong> Carla Amor Divino Moreira Delgado</div>
		<div><strong>Email:</strong> carla@dcc.ufrj.br</div>
		<div><a href="http://lattes.cnpq.br/3831909651244142">Lattes</a></div>
		<div><strong>URL da Homepage:</strong> <a href="http://www.dcc.ufrj.br/~carla">http://www.dcc.ufrj.br/~carla</a></div>
		</div>	
	</div>
	</div>
</div>
&nbsp;&nbsp;&nbsp;
<div>
	<div class="container row">
	<div style="text-align: left; vertical-align: middle;">
		<div class="span2">
		<img src="http://localhost:8000/site_media/images/luiz_lattes.gif" style="border-style:solid;" alt="" />	
		</div>
		<div class="span10" >
		<div><strong>Nome:</strong> Luiz Felipe Pericolo Barbosa</div>
		<div><strong>Email:</strong> luizpericolo@gmail.com</div>
		</div>	
	</div>
	</div>
</div>
&nbsp;&nbsp;&nbsp;
<div>
	<div class="container row">
	<div style="text-align: left; vertical-align: middle;">
		<div class="span2">
		<img src="http://localhost:8000/site_media/images/thais_lattes.gif"  style="border-style:solid;" alt="" />	
		</div>
		<div class="span10" >
		<div><strong>Nome:</strong> Thais do Nascimento Viana</div>
		<div><strong>Email:</strong> thaisnviana@gmail.com</div>
		<div><a href="http://lattes.cnpq.br/4383378609927065">Lattes</a></div>
		</div>	
	</div>
	</div>
</div>
&nbsp;&nbsp;&nbsp;
<div>
	<div class="container row">
	<div style="text-align: left; vertical-align: middle;">
		<div class="span2">
		<img src="http://localhost:8000/site_media/images/rafael_lattes.gif"  style="border-style:solid;" alt="" />	
		</div>
		<div class="span10" >
		<div><strong>Nome:</strong> Rafael Vieira da Costa Alves</div>
		<div><strong>Email:</strong> rafaelvc.alves@gmail.com</div>
		<div><a href="http://lattes.cnpq.br/1075100377055533">Lattes</a></div>
		</div>	
	</div>
	</div>
</div>
{% endblock %}