{% extends "main_template.html" %}
{% block content %}
	<h4>{{ classif.name }}</h4>
	&nbsp;&nbsp;&nbsp;
	<form class="form-horizontal">
		<input type="hidden" name="classification_id" value="{{classif.id}}" />
		<div class="control-group">
			<label class="control-label" for="inputName"> Name :</label>
			<div class="controls">
				<input type="text" name="algorithm_name" id="inputName" placeholder="Algorithm Name">
			</div>
		</div>					
		<div class="control-group">
			<label class="control-label" for="inputAuthor">Author :</label>
				<div class="controls">
					<input type="text" name="author_name" id="inputAuthor">&nbsp;&nbsp;
					<label class="checkbox inline"> 
						<input type="checkbox" id="Unknown" value=""> Unknown
					</label>
				</div>	
		</div>				
		&nbsp;&nbsp;&nbsp;
		<div class="control-group">
		<!---<div class='btn-group'>
		<a class="btn" href="#"><i class="icon-indent-right"></i></a>
		<a class="btn" href="#"><i class="icon-indent-left"></i></a>
		<a class="btn" href="#"><i class="icon-bold"></i></a>
		<a class="btn" href="#"><i class="icon-italic"></i></a>
		</div> -->
			<label class="control-label" for="inputAlgorithm">About:</label>
				<div class="controls">
					<textarea id="algorithm_about" class="textarea" style="width: 810px; height: 200px"></textarea>
				</div>
		</div>
		<button class="btn btn-large btn-block btn-info" type="button" id="add_alg">Add Algorithm</button>
	</form>

{% endblock %}