<html>
	<body>
		<h1> {{ classif.name }} </h1>
		<div id="classification">
			<p> For more information click <a href="{{ classif.uri }}" target="_blank">here</a> </p>
			
			
			<!-- table containing algorithms with such classification -->
			<table id="algorithms">
			<table>
		</div>
		
		<div id="links">
			<a href="http://localhost:8000/">Main Page</a><br/>
			<a href="http://localhost:8000/admin">Admin Page</a><br/>
			<a href="http://localhost:8000/show/cat/all">Classifications</a><br/>
		</div>
		
	</body>
</html>