
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<link rel="stylesheet"
	href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" />
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"
	type="text/javascript"></script>
<link rel="stylesheet"
	href="./algorithm/static/css/bootstrap-wysihtml5.css" />
<script
	src="./algorithm/static/js/bootstrap-wysihtml5.js"
	type="text/javascript"></script>

<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>AlgPedia</title>
<div class="alert alert-info ">
	<h4>
		<i class="icon-align-center"></i> AlgPedia
	</h4>
</div>
</head>
<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2">
				<table class="table table-condensed">
					<tr>
						<td><a href="http://localhost:8000/">Main Page</a>
						</td>
					</tr>
					<tr>
						<td><a href="http://localhost:8000/admin">Admin Page</a>
						</td>
					</tr>
					<tr>
						<td><a href="http://localhost:8000/show/cat/all">Classifications</a>
						</td>
					</tr>
					<tr>
						<td><a href="http://localhost:8000/show/alg/all">Algorithms</a>
						</td>
					</tr>
				</table>
			</div>
			<div class="control-group info span10 ">
				<div class="input-append">
					<input class="input-xxlarge" id="search" placeholder="Search" type="text">
					<button class="btn btn-info" type="button">Search</button>
				</div>
			</div>
			&nbsp;&nbsp;&nbsp;
			<div class="span10 alert alert-info">
				<h4>{{ classif.name }}</h4>
				&nbsp;&nbsp;&nbsp;
				<form class="form-horizontal">
					<div class="control-group">
						<label class="control-label" for="inputName"> Name :</label>
						<div class="controls">
							<input type="text" id="inputName" placeholder="Algorithm Name">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputAuthor">Author :</label>
						<div class="controls">
							<input type="text" id="inputAuthor">&nbsp;&nbsp;<label
								class="checkbox inline"> <input type="checkbox"
								id="Unknown" value=""> Unknown</label>
						</div>
						&nbsp;&nbsp;&nbsp;
					<div class="control-group">
						<div class='btn-group'>
							<a class="btn" href="#"><i class="icon-indent-right"></i></a>
							<a class="btn" href="#"><i class="icon-indent-left"></i></a>
							<a class="btn" href="#"><i class="icon-bold"></i></a>
							<a class="btn" href="#"><i class="icon-italic"></i></a>
						</div>
						<label class="control-label" for="inputAlgorithm">Algorithm:</label>
						
						<div class="controls">
							<textarea class="textarea" style="width: 810px; height: 200px"></textarea>
						</div>
					</div>
					<button class="btn btn-large btn-block" type="button" id="add">Add
						Algorithm</button>
				</form>
			</div>
		</div>
</body>
</html>


<script>
	$(function() {
		$('.textarea').wysihtml5();
		$("#inputAuthor").attr("readonly", true);
		$("#Unknown").attr("checked", true);
		$('.textarea').wysihtml5({
			"font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
			"emphasis": true, //Italics, bold, etc. Default true
			"lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
			"html": false, //Button which allows you to edit the generated HTML. Default false
			"link": true, //Button to insert a link. Default true
			"image": true, //Button to insert an image. Default true,
			"color": false //Button to change color of font  
		});

		$("#Unknown").click(function() {
			if ($('#Unknown').attr('checked')) {
				$("#inputAuthor").val("");
				$("#inputAuthor").attr("readonly", true);
				$("#Unknown").attr("checked", true);
			} else {
				$("#inputAuthor").attr("readonly", false);
				$("#Unknown").attr("checked", false);
			}
		});
		$("#add").click(function() {
			alert("Esse botao nao faz nada xD");
		});
	});
</script>