{% extends "main_template.html" %}
{% block content %}
	<h4> {{ classif.name }} </h4>
	<div id="classification">
		<p> For more information click <a href="{{ classif.uri }}" target="_blank">here</a> </p>
			<!-- table containing algorithms with such classification -->
			<form id="add_algorithm" >
			<input type="hidden" name="classification_id" value="{{classif.id}}"/>
			<input type="button" id="add_algorithm" value="Add Algorithm" /></br></br>				
			<table id="algorithms" class="table table-striped info">
				{% for alg in algorithms %}
					<tr>
						<td><a href="{{alg.link}}"> {{ alg.name }} </td>
					</tr>
					{% empty %}
						<p> There are no Algorithms with this Classification. </p>
				{% endfor %}
			</table>
		</form>
	</div>
{% endblock %}